* {
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: aqua;
}

nav>ul {
    list-style: none;
    display: flex;
}